# macOS
.DS_Store
._*

# CMake
cmake-build-debug/
compile_commands.json

# JetBrains
.idea/

# Analytical Model build and result files
build/astra_analytical/build/
build/astra_analytical/result/
build/astra_garnet/build/
build/astra_garnet/result/
build/astra_htsim/build/
build/astra_systemc/build/
build/astra_systemc/debug_log/
build/astra_systemc/diagnostic_logs/
build/astra_systemc/test_log/
examples/workload/microbenchmarks/all_gather/
examples/workload/microbenchmarks/all_reduce/
examples/workload/microbenchmarks/all_to_all/

# Generated Chakra ET files
*.eg
*.et
!examples/**/*.et

# vscode
.vscode

# logs
**/*.log

# runs
runs
